<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForcePlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ForcePlatform.Properties.Settings>
            <setting name="StudiesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="DeviceType" serializeAs="String">
                <value>Simulator</value>
            </setting>
            <setting name="OptionsStatic" serializeAs="String">
                <value>Pie derecho,Pie izquierdo,Ambos pies</value>
            </setting>
            <setting name="OptionsDynamic" serializeAs="String">
                <value>Apoyo pie derecho,Apoyo pie izquierdo</value>
            </setting>
            <setting name="OptionsGesture" serializeAs="String">
                <value>Patada pelota</value>
            </setting>
            <setting name="LicenseUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AlgorithmsFolder" serializeAs="String">
                <value />
            </setting>
        </ForcePlatform.Properties.Settings>
    </userSettings>
</configuration>